<%- include("partials/header"); %>

 <div class="container margintop ">
     <div class="row">
         <div class="col-md-8">
            <div class="card show-card">
                <div class="card-body p-0">
                
                    <div class="card-image">
                        <img src="<%= post.image %>" class="card-img-top" alt="...">
                        <p class="pull-left p-2">Uploaded By : <a href="/user/<%= post.author.id%>"><em><strong><%= post.author.username %></strong></em></a></p>
                        <p class="pull-right p-2">price : <em><strong><%= post.price %> $</strong></em></p>
                    </div>

                    <div class="card-description">
                        <p><%- post.content %></p>
                    </div>
                </div>
                <p class="p-3"><strong><%=post.createdAt.toLocaleDateString({month : "long"});%></strong></p>
            </div>
               <div class="d-flex justify-content-center align-items-center show-bars">
                <a href="/posts" class="btn btn-light"> <i class="fa fa-arrow-left"></i> Back </a>
                <!-- who shoul do the below actions -->
                 <% if(currentUser && currentUser._id.equals(post.author.id) || currentUser.isAdmin){ %>
                <a href="/posts/<%= post._id %>/edit" class="btn btn-info btn-sm"> <i class="fa fa-pencil"></i> Edit </a>
                <form action="/posts/<%=post._id %>/delete?_method=DELETE" method="POST" class="d-inline">
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete</button>
                </form>
                  <% } %>
                  <a class="btn btn-success btn-sm mx-3" href="/checkout">Buy Now</a>
               </div>
               
              
                 <!-- coment area  -->
               <div class="comments border my-4 p-2">
                <a href="/posts/show/<%=post._id%>/comments/new" class="btn btn-light mb-3"> 
                    <i class="fa fa-comment"></i> comment </a>
                   <% post.comments.forEach((comment)=>{ %>
                        <div class="comment d-flex justify-content-between">
                              <% if(comment.author.avatar) {%>
                            <p class="my-2"><a href="/user/<%=comment.author.id %>"><img class="user-profile-img mx-2" src="<%=comment.author.avatar%>" alt=""></a><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
                              <% } else { %>
                            <p class="my-2">
                              <a class="user-profile-img px-2 py-1 mx-2" href="/user/<%=comment.author.id %>">
                                <i class="fa fa-user"></i></a><strong><%= comment.author.username %></strong> - <%= comment.text %>
                              </p>
                              <% } %>
                            <p><%= moment(comment.time).fromNow();%> </p>
                        </div>
                        <% if(currentUser && currentUser._id.equals(comment.author.id) || currentUser.isAdmin) {%>
                        <div class="btns">
                            <a href="/posts/show/<%=post._id%>/comments/<%= comment._id %>/edit" class="btn btn-info btn-sm"> 
                                <i class="fa fa-pencil"></i> Edit</a>
                              <form action="/posts/show/<%=post._id%>/comments/<%= comment._id %>/delete?_method=DELETE" class="d-inline" method="POST">
                                 <button style="width: fit-content;" class="btn btn-danger btn-sm">Delete <i class="fa fa-trash-o"></i></button>
                              </form>
                        </div>
                        <%} %>
    
                   
    
                    <% }) %>
               </div>
            
         </div>
         <div class="col-md-4">
            <div class="categories">
                <li>info</li>
                <li>info</li>
                <li>info</li>
            </div>
         </div>
         <div id="map"></div>
     </div>
 </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRVKpcAQKRkfqiyp5lW6ydYGJF-h3e1tU&callback=initMap"></script>
<%- include("partials/footer"); %>